<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>404 Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="container text-center">
                <img class="img-fluid" src="svg/404.svg" alt="not found">
            </div>
        </LayoutView>
    </NotFound>
</Router>